.head, #head {
    border: 1px dotted #4ec9f5;
    background-color: #4ec9f5;
}
.head {
    transform: translateX(-50%) translateY(10vh);
}
.torso, #torso {
    border: 1px dotted #662d91;
    background-color: #662d91;
}

.torso {
    transform: translateX(-50%) translateY(40vh);
}

.larm, #larm {
    border: 1px dotted #ee2a7b;
    background-color: #ee2a7b;
}
.larm {
    transform: translateX(-50%) translateY(25vh);
}

.rarm, #rarm {
    border: 1px dotted #f7941d;
    background-color: #f7941d;
}
.rarm {
    transform: translateX(-50%) translateY(25vh);
}

.legs, #legs {
    border: 1px dotted #8dc63f;
    background-color: #8dc63f;
}
.legs {
    transform: translateX(-50%) translateY(50vh);

}

.head, .torso, .legs, .rarm, .larm {
    max-height: 70px;
    max-width: 100px;
    margin: 10px auto;
}
@media only screen and (orientation: portrait) {
        .head, .larm, .legs, .torso, .rarm {
            height: 50px;
            width: 70px;
            padding: 10px 10px;
        }
    }

@media only screen and (orientation: landscape) {
        .head, .larm, .legs, .torso, .rarm {
            height: 50px;
            width: 70px;
            margin: 15px auto;
        }
    }

.callout {
    padding: 0;
}
.puppetLine {
    width: 1px;
    height: 70vh;
    border: 1px solid white;
    display: block;
    margin: 0 auto;
}