* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

label {
    color: gray;
}

.slider {
    max-width: 100%;
    margin: 50% auto;
    padding: 0 auto;
}

.container {
    overflow: hidden;
}

@media only screen and (orientation: landscape) {
    .container {
        margin-top: 3%;
    }

    @media (max-width: 728px) {
        input[type="range"] {
            -webkit-appearance: none;
            -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
            width: 100%;
            height: 40px;
            margin: 0 auto;
            border: none;
            padding: 1px 2px;
            border-radius: 20px;
            background: #232528;
            box-shadow: inset 0 1px 0 0 #0d0e0f, inset 0 -1px 0 0 #3a3d42;
            -webkit-box-shadow: inset 0 1px 0 0 #0d0e0f, inset 0 -1px 0 0 #3a3d42;
            outline: none; /* no focus outline */
            transform: rotate(270deg);
            -webkit-transform: rotate(270deg);
            -ms-transform: rotate(270deg);
            -o-transform: rotate(270deg);
            -moz-transform: rotate(270deg);

        }
    }


    @media (min-width: 728px) {
        .container {
            margin-top: 10%;
        }

        #legHeelLeft, #legHeelRight, #legKneeLeft, #legKneeRight {
            transform: rotate(270deg) translateY(-130px);
            -webkit-transform: rotate(270deg) translateY(-130px);
            -ms-transform: rotate(270deg) translateY(-130px);
            -o-transform: rotate(270deg) translateY(-130px);
            -moz-transform: rotate(270deg) translateY(-130px);
        }

        input[type="range"] {
            -webkit-appearance: none;
            -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
            width: 60vh;
            height: 40px;
            margin: 50px auto;
            border: none;
            padding: 1px 2px;
            border-radius: 20px;
            background: #232528;
            box-shadow: inset 0 1px 0 0 #0d0e0f, inset 0 -1px 0 0 #3a3d42;
            -webkit-box-shadow: inset 0 1px 0 0 #0d0e0f, inset 0 -1px 0 0 #3a3d42;
            outline: none; /* no focus outline */
            align-content: center;
            transform: rotate(270deg) translateY(-42px);
            -webkit-transform: rotate(270deg) translateY(-42px);
            -ms-transform: rotate(270deg) translateY(-42px);
            -o-transform: rotate(270deg) translateY(-42px);
            -moz-transform: rotate(270deg) translateY(-42px);

        }
    }

    @media (min-width: 1026px) {
        .container {
            margin-top: 10%;
        }


        #legHeelLeft, #legHeelRight, #legKneeLeft, #legKneeRight {
            transform: rotate(270deg) translateY(-16.8vh);
            -webkit-transform: rotate(270deg) translateY(-16.8vh);
            -ms-transform: rotate(270deg) translateY(-16.8vh);
            -o-transform: rotate(270deg) translateY(-16.8vh);
            -moz-transform: rotate(270deg) translateY(-16.8vh);
        }

        input[type="range"] {
            -webkit-appearance: none;
            -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
            width: 65vh;
            height: 40px;
            margin: 5vh auto;
            border: none;
            padding: 1px 2px;
            border-radius: 20px;
            background: #232528;
            box-shadow: inset 0 1px 0 0 #0d0e0f, inset 0 -1px 0 0 #3a3d42;
            -webkit-box-shadow: inset 0 1px 0 0 #0d0e0f, inset 0 -1px 0 0 #3a3d42;
            outline: none; /* no focus outline */
            align-content: center;
            transform: rotate(270deg) translateY(-6vh);
            -webkit-transform: rotate(270deg) translateY(-6vh);
            -ms-transform: rotate(270deg) translateY(-6vh);
            -o-transform: rotate(270deg) translateY(-6vh);
            -moz-transform: rotate(270deg) translateY(-6vh);

        }
    }
}

@media only screen and (orientation: portrait) {
    body {
        background-image: url("/images/robotbkg.svg");
        background-repeat: no-repeat;
        background-size: 40%;
        background-position: center top;
        background-blend-mode: multiply;
    }

    @media (max-width: 728px) {


        #legHeelLeft, #legHeelRight, #legKneeLeft, #legKneeRight {
            transform: rotate(270deg) translateY(-23.5vh);
            -webkit-transform: rotate(270deg) translateY(-23.5vh);
            -ms-transform: rotate(270deg) translateY(-23.5vh);
            -o-transform: rotate(270deg) translateY(-23.5vh);
            -moz-transform: rotate(270deg) translateY(-23.5vh);
        }

        input[type="range"] {
            -webkit-appearance: none;
            -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
            width: 60vh;
            height: 40px;
            margin: 23vh auto;
            border: none;
            padding: 1px 2px;
            border-radius: 20px;
            background: #232528;
            box-shadow: inset 0 1px 0 0 #0d0e0f, inset 0 -1px 0 0 #3a3d42;
            -webkit-box-shadow: inset 0 1px 0 0 #0d0e0f, inset 0 -1px 0 0 #3a3d42;
            outline: none; /* no focus outline */
            align-content: center;
            transform: rotate(270deg) translateY(-21vh);
            -webkit-transform: rotate(270deg) translateY(-21vh);
            -ms-transform: rotate(270deg) translateY(-21vh);
            -o-transform: rotate(270deg) translateY(-21vh);
            -moz-transform: rotate(270deg) translateY(-21vh);

        }
    }
    @media (min-width: 728px) {
        .container {
            margin-top: 10%;
        }

        #legHeelLeft, #legHeelRight, #legKneeLeft, #legKneeRight {
            transform: rotate(270deg) translateY(-26.5vh);
            -webkit-transform: rotate(270deg) translateY(-26.5vh);
            -ms-transform: rotate(270deg) translateY(-26.5vh);
            -o-transform: rotate(270deg) translateY(-26.5vh);
            -moz-transform: rotate(270deg) translateY(-26.5vh);
        }

        input[type="range"] {
            -webkit-appearance: none;
            -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
            width: 70vh;
            height: 40px;
            margin: 27vh auto;
            border: none;
            padding: 1px 2px;
            border-radius: 20px;
            background: #232528;
            box-shadow: inset 0 1px 0 0 #0d0e0f, inset 0 -1px 0 0 #3a3d42;
            -webkit-box-shadow: inset 0 1px 0 0 #0d0e0f, inset 0 -1px 0 0 #3a3d42;
            outline: none; /* no focus outline */
            align-content: center;
            transform: rotate(270deg) translateY(-24vh);
            -webkit-transform: rotate(270deg) translateY(-24vh);
            -ms-transform: rotate(270deg) translateY(-24vh);
            -o-transform: rotate(270deg) translateY(-24vh);
            -moz-transform: rotate(270deg) translateY(-24vh);
        }
    }
    @media (min-width: 810px) {
        .container {
            margin-top: 10%;
        }

        #legHeelLeft, #legHeelRight, #legKneeLeft, #legKneeRight {
            transform: rotate(270deg) translateY(-28.7vh);
            -webkit-transform: rotate(270deg) translateY(-28.7vh);
            -ms-transform: rotate(270deg) translateY(-28.7vh);
            -o-transform: rotate(270deg) translateY(-28.7vh);
            -moz-transform: rotate(270deg) translateY(-28.7vh);
        }

        input[type="range"] {
            -webkit-appearance: none;
            -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
            width: 75vh;
            height: 40px;
            margin: 30vh auto;
            border: none;
            padding: 1px 2px;
            border-radius: 20px;
            background: #232528;
            box-shadow: inset 0 1px 0 0 #0d0e0f, inset 0 -1px 0 0 #3a3d42;
            -webkit-box-shadow: inset 0 1px 0 0 #0d0e0f, inset 0 -1px 0 0 #3a3d42;
            outline: none; /* no focus outline */
            align-content: center;
            transform: rotate(270deg) translateY(-193px);
            -webkit-transform: rotate(270deg) translateY(-193px);
            -ms-transform: rotate(270deg) translateY(-193px);
            -o-transform: rotate(270deg) translateY(-193px);
            -moz-transform: rotate(270deg) translateY(-193px);

        }
    }
}


input[type="range"]::-moz-range-track {
    border: inherit;
    background: transparent;
}

input[type="range"]::-ms-track {
    border: inherit;
    color: transparent; /* don't drawn vertical reference line */
    background: transparent;
}

input[type="range"]::-ms-fill-lower,
input[type="range"]::-ms-fill-upper {
    background: transparent;
}

input[type="range"]::-ms-tooltip {
    display: none;
}

/* thumb */

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #529de1), color-stop(100%, #245e8f)); /* android <= 2.2 */
    background-image: -webkit-linear-gradient(top, #529de1 0, #245e8f 100%); /* older mobile safari and android > 2.2 */;
    background-image: linear-gradient(to bottom, #529de1 0, #245e8f 100%); /* W3C */
}

input[type="range"]::-moz-range-thumb {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    background-image: linear-gradient(to bottom, #529de1 0, #245e8f 100%); /* W3C */
}

input[type="range"]::-ms-thumb {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 0;
    background-image: linear-gradient(to bottom, #529de1 0, #245e8f 100%); /* W3C */
}
