* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

label {
    color: gray;
}

.slider {
    max-width: 100%;
    margin: 50% auto;
    padding: 0 auto;
}

@media only screen and (orientation: landscape) {
    .container {
        margin-top: 3%;
        overflow: hidden;
    }

    @media (max-width: 728px) {
        input[type="range"] {
            -webkit-appearance: none;
            -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
            width: 100%;
            height: 40px;
            margin: 0 auto;
            border: none;
            padding: 1px 2px;
            border-radius: 20px;
            background: #232528;
            box-shadow: inset 0 1px 0 0 #0d0e0f, inset 0 -1px 0 0 #3a3d42;
            -webkit-box-shadow: inset 0 1px 0 0 #0d0e0f, inset 0 -1px 0 0 #3a3d42;
            outline: none; /* no focus outline */
            transform: rotate(270deg);
            -webkit-transform: rotate(270deg);
            -ms-transform: rotate(270deg);
            -o-transform: rotate(270deg);
            -moz-transform: rotate(270deg);

        }
    }


    @media (min-width: 728px) {
        .container {
            margin-top: 10%;
            overflow: hidden;
        }

        #legHeelLeft, #legHeelRight, #legKneeLeft, #legKneeRight {
            width: 500px;
            margin: 132px auto;
            transform: rotate(270deg) translateY(-130px);
            -webkit-transform: rotate(270deg) translateY(-130px);
            -ms-transform: rotate(270deg) translateY(-130px);
            -o-transform: rotate(270deg) translateY(-130px);
            -moz-transform: rotate(270deg) translateY(-130px);
        }

        input[type="range"] {
            -webkit-appearance: none;
            -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
            width: 400px;
            height: 40px;
            margin: 50px auto;
            border: none;
            padding: 1px 2px;
            border-radius: 20px;
            background: #232528;
            box-shadow: inset 0 1px 0 0 #0d0e0f, inset 0 -1px 0 0 #3a3d42;
            -webkit-box-shadow: inset 0 1px 0 0 #0d0e0f, inset 0 -1px 0 0 #3a3d42;
            outline: none; /* no focus outline */
            align-content: center;
            transform: rotate(270deg) translateY(-42px);
            -webkit-transform: rotate(270deg) translateY(-42px);
            -ms-transform: rotate(270deg) translateY(-42px);
            -o-transform: rotate(270deg) translateY(-42px);
            -moz-transform: rotate(270deg) translateY(-42px);

        }
    }

    @media (min-width: 1026px) {
        .container {
            margin-top: 5%;
            overflow: hidden;
        }


        #legHeelLeft, #legHeelRight, #legKneeLeft, #legKneeRight {
            margin: 250px auto;
            transform: rotate(270deg) translateY(-239px);
            -webkit-transform: rotate(270deg) translateY(-239px);
            -ms-transform: rotate(270deg) translateY(-239px);
            -o-transform: rotate(270deg) translateY(-239px);
            -moz-transform: rotate(270deg) translateY(-239px);
        }

        input[type="range"] {
            -webkit-appearance: none;
            -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
            width: 750px;
            height: 40px;
            margin: 200px auto;
            border: none;
            padding: 1px 2px;
            border-radius: 20px;
            background: #232528;
            box-shadow: inset 0 1px 0 0 #0d0e0f, inset 0 -1px 0 0 #3a3d42;
            -webkit-box-shadow: inset 0 1px 0 0 #0d0e0f, inset 0 -1px 0 0 #3a3d42;
            outline: none; /* no focus outline */
            align-content: center;
            transform: rotate(270deg) translateY(-190px);
            -webkit-transform: rotate(270deg) translateY(-190px);
            -ms-transform: rotate(270deg) translateY(-190px);
            -o-transform: rotate(270deg) translateY(-190px);
            -moz-transform: rotate(270deg) translateY(-190px);

        }
    }
}

@media only screen and (orientation: portrait) {
    body {
        background-image: url("icons/robotbkg.svg");
        background-repeat: no-repeat;
        background-size: 40%;
        background-position: center top;
        background-blend-mode: multiply;
    }

    @media (max-width: 728px) {
        .container {
            margin-top: 15%;
            overflow: hidden;
        }


        #legHeelLeft, #legHeelRight, #legKneeLeft, #legKneeRight {
            transform: rotate(270deg) translateY(-134px);
            -webkit-transform: rotate(270deg) translateY(-134px);
            -ms-transform: rotate(270deg) translateY(-134px);
            -o-transform: rotate(270deg) translateY(-134px);
            -moz-transform: rotate(270deg) translateY(-134px);
        }

        input[type="range"] {
            -webkit-appearance: none;
            -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
            width: 350px;
            height: 40px;
            margin: 125px auto;
            border: none;
            padding: 1px 2px;
            border-radius: 20px;
            background: #232528;
            box-shadow: inset 0 1px 0 0 #0d0e0f, inset 0 -1px 0 0 #3a3d42;
            -webkit-box-shadow: inset 0 1px 0 0 #0d0e0f, inset 0 -1px 0 0 #3a3d42;
            outline: none; /* no focus outline */
            align-content: center;
            transform: rotate(270deg) translateY(-112.5px);
            -webkit-transform: rotate(270deg) translateY(-120.5px);
            -ms-transform: rotate(270deg) translateY(-120.5px);
            -o-transform: rotate(270deg) translateY(-120.5px);
            -moz-transform: rotate(270deg) translateY(-120.5px);

        }
    }
    @media (min-width: 728px) {
        .container {
            margin-top: 10%;
            overflow: hidden;
        }

        #legHeelLeft, #legHeelRight, #legKneeLeft, #legKneeRight {
            transform: rotate(270deg) translateY(-262px);
            -webkit-transform: rotate(270deg) translateY(-262px);
            -ms-transform: rotate(270deg) translateY(-262px);
            -o-transform: rotate(270deg) translateY(-262px);
            -moz-transform: rotate(270deg) translateY(-262px);
        }

        input[type="range"] {
            -webkit-appearance: none;
            -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
            width: 700px;
            height: 40px;
            margin: 250px auto;
            border: none;
            padding: 1px 2px;
            border-radius: 20px;
            background: #232528;
            box-shadow: inset 0 1px 0 0 #0d0e0f, inset 0 -1px 0 0 #3a3d42;
            -webkit-box-shadow: inset 0 1px 0 0 #0d0e0f, inset 0 -1px 0 0 #3a3d42;
            outline: none; /* no focus outline */
            align-content: center;
            transform: rotate(270deg) translateY(-235px);
            -webkit-transform: rotate(270deg) translateY(-235px);
            -ms-transform: rotate(270deg) translateY(-235px);
            -o-transform: rotate(270deg) translateY(-235px);
            -moz-transform: rotate(270deg) translateY(-235px);

        }
    }
    @media (min-width: 810px) {
        .container {
            margin-top: 10%;
            overflow: hidden;
        }

        #legHeelLeft, #legHeelRight, #legKneeLeft, #legKneeRight {
            transform: rotate(270deg) translateY(-231px);
            -webkit-transform: rotate(270deg) translateY(-231px);
            -ms-transform: rotate(270deg) translateY(-231px);
            -o-transform: rotate(270deg) translateY(-231px);
            -moz-transform: rotate(270deg) translateY(-231px);
        }

        input[type="range"] {
            -webkit-appearance: none;
            -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
            width: 700px;
            height: 40px;
            margin: 250px auto;
            border: none;
            padding: 1px 2px;
            border-radius: 20px;
            background: #232528;
            box-shadow: inset 0 1px 0 0 #0d0e0f, inset 0 -1px 0 0 #3a3d42;
            -webkit-box-shadow: inset 0 1px 0 0 #0d0e0f, inset 0 -1px 0 0 #3a3d42;
            outline: none; /* no focus outline */
            align-content: center;
            transform: rotate(270deg) translateY(-193px);
            -webkit-transform: rotate(270deg) translateY(-193px);
            -ms-transform: rotate(270deg) translateY(-193px);
            -o-transform: rotate(270deg) translateY(-193px);
            -moz-transform: rotate(270deg) translateY(-193px);

        }
    }
}


input[type="range"]::-moz-range-track {
    border: inherit;
    background: transparent;
}

input[type="range"]::-ms-track {
    border: inherit;
    color: transparent; /* don't drawn vertical reference line */
    background: transparent;
}

input[type="range"]::-ms-fill-lower,
input[type="range"]::-ms-fill-upper {
    background: transparent;
}

input[type="range"]::-ms-tooltip {
    display: none;
}

/* thumb */

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #529de1), color-stop(100%, #245e8f)); /* android <= 2.2 */
    background-image: -webkit-linear-gradient(top, #529de1 0, #245e8f 100%); /* older mobile safari and android > 2.2 */;
    background-image: linear-gradient(to bottom, #529de1 0, #245e8f 100%); /* W3C */
}

input[type="range"]::-moz-range-thumb {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    background-image: linear-gradient(to bottom, #529de1 0, #245e8f 100%); /* W3C */
}

input[type="range"]::-ms-thumb {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 0;
    background-image: linear-gradient(to bottom, #529de1 0, #245e8f 100%); /* W3C */
}
